body {
    background-color: #444;
    color: #aaa;
    padding: 0;
    margin: 0;

    font-family: "Roboto Mono";
}

#allContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#topContainer {
    display: flex;
    flex-direction: row;
    padding: 10px;

    background: #111;
    box-shadow: 0px 0px 10px #000;
    z-index: 999;
}

#contentContainer {
    display: flex;
    flex-direction: row;

    width: 100vw;
    height: 100%;
}

#editorContainer {
    width: 100%;
    flex: 2;

    /*height: 90vh;*/
    overflow: auto;

    flex-basis: 0;
}

#editorContainer .CodeMirror {
    z-index: 0;
    width: 100%;

    height: inherit;
    font-family: "Roboto Mono";
    font-size: 14px;

    max-height: 100%;
}

#visualiseContainer {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#visualiseContainer * img{
    width: 100%;
}

#bottomContainer {
    padding: 10px;
    background-color: #000000aa;
    color: #fff;
}
